<div class="topic-index-wrapper">
  <div class="container">
  <h1>コメントを記入してください</h1>
  <%= form_with(model: [@topic, @comment]) do |f| %>
    <%= f.label :comment %>
    <%= f.text_field :content %>
    <%= f.submit 'コメントする' %>
  <% end %>
  </div>
</div>
