<div class="topic-index-wrapper">
  <div class="container">
  <h1>コメントを記入してください</h1>
  <%= form_for @comment do |f| %>
    <% %><%= f.label :comment %>
    <%= f.text_field :content %>
  <% end %>  
  <%= f.submit 'コメントする' %>
  </div>
</div>
