<div class="topic-index-wrapper">
  <div class="container">
  <h1>コメントを記入してください</h1>
  <%= form_tag comments_create_path do %>
    <textarea name="content"></textarea>
    <input type ="submit" value="コメントする"> 
  <% end %>  
  </div>
</div>
